# Python version compatibility
# Requires Python 3.12.3

Flask==3.0.2
Flask-SQLAlchemy==3.0.0
Werkzeug==3.0.1
bcrypt==3.2.2
Jinja2==3.1.2
itsdangerous==2.1.2
Flask-WTF==1.1.1
Flask-Login==0.6.2
Flask-Mail==0.9.1
mysqlclient==1.4.6

