<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <style>
        footer {
            text-align: center;
            padding: 10px 0;
            background-color: #C5C5C5;
            color: black;
            width: 100%;
            bottom: 0;
            margin: 0;
            box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
        }

    </style>
</head>
<body>
    <footer>
        <p>&copy; 2024 Agrawal Physiotherapy Clinic. All rights reserved.</p>
    </footer>
</body>
</html>