<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="icon" href="{{ url_for('static', filename='images/homel.png') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="reset-password-container">
      <div class="flashes">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flashes">
                    {% for category, message in messages %}
                        <div class="flash-message flash-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>

        <form action="{{ url_for('reset_password', user_id=user_id, user_type=user_type) }}" method="post">
            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="new_password" required><br><br>

            <label for="reverify_password">Re-enter New Password:</label>
            <input type="password" id="reverify_password" name="reverify_password" required><br><br>
            
            <input type="submit" value="Reset Password">
        </form>
        <br>
        <a href="{{ url_for('loginpage') }}">Back to Login</a>
    </div>
</body>
</html>
