<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify OTP</title>
    <link rel="icon" href="{{ url_for('static', filename='images/homel.png') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="verify-otp-container">
        <h2>Verify OTP</h2>
        <div class="flashes">
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  <div class="flashes">
                      {% for category, message in messages %}
                          <div class="flash-message flash-{{ category }}">{{ message }}</div>
                      {% endfor %}
                  </div>
              {% endif %}
          {% endwith %}
      </div>
      
        <form action="{{ url_for('verify_otp') }}" method="post">
            
            <label for="otp">OTP:</label>
            <input type="text" id="otp" name="otp" required><br><br>
            
            <input type="submit" value="Verify OTP">
        </form>
        <br>
        <a href="{{ url_for('forgot_password') }}">Back to Forgot Password</a>
    </div>
</body>
</html>
